@tailwind base;
@tailwind components;
@tailwind utilities;

.contenu p {
    @apply font-light leading-6;
}

.rotated {
    transform: rotate(180deg);
}

.menu-item:hover .icone {
    @apply rotate-12 scale-150 fill-bleu-500;
}

.nav-open {
    @apply transition-all overflow-hidden
}

.nav-closed {
    @apply transition-all -translate-x-full sm:-translate-x-60
}

.content-closed {
    @apply ml-0 transition-all;
}

.content-open {
    @apply ml-0 sm:ml-60 transition-all
}

.burger:hover svg {
    @apply scale-125
}

.liste-item {
    @apply before:bg-bleu-500 before:h-1 before:w-3 before:inline-block before:mr-4 before:mb-1;
}

html {
    scroll-behavior: smooth;
}

/* Toggle A */
input:checked~.dot {
    transform: translateX(100%);
    @apply bg-bleu-500 border-2 border-bleu-500
}

h4{
    @apply text-xl text-bleu-50 font-bold pb-4
}